.texto-con-borde_home {
    display: inline-block; /* Hace que el borde se ajuste solo al texto */
    font-weight: 600; /* Peso de la fuente para que sea más visible */
    padding: 10px;
    transition: all 0.3s ease; /* Transición suave */
    position: relative; /* Necesario para el borde */
  }
  
  .texto-con-borde_home::before {
    content: ''; /* Crear un pseudo-elemento vacío */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Grosor del borde */
    background-color: #ffb787; /* Color profesional del borde */
    transform: scaleX(0); /* Inicialmente el borde está colapsado */
    transform-origin: bottom right; /* El borde aparece desde la esquina */
    transition: transform 0.3s ease-in-out;
  }
  
  .texto-con-borde_home:hover::before {
    transform: scaleX(1); /* El borde se extiende cuando hace hover */
    transform-origin: bottom left; /* La animación comienza desde la izquierda */
  }
  
  .texto-con-borde_home:hover {
    color: #2C3E50; /* Cambiar color del texto al pasar el mouse */
  }